

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}
        /* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: none;
  margin: none;
  border-top: none;
}

body {
  overflow-x: hidden;
}

* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}

/* gonna take some creative liberty here */
h3 {
  color: white;
  text-align: center;
  background-color: blue;
  padding: 16px;
  margin: 0;
}

#inventoryList {
  margin: 0; padding: 0;
  width: 100%;
}
#inventoryList td, #inventoryList th {
  padding: 6px 0;
}

.inventoryCheckbox {
  display: none;
}